/*-------------  BASE  -------------*/

$m: 0.625rem; //10px

/*-------------  COLORS  -------------*/

$lv-purple: rgb(60, 0, 70);
$lv-lilac: rgb(230, 200, 230);
$lv-white: rgb(255, 255, 255);

/*-------------  TIMES  -------------*/

$animation-time: 0.4s;

/*-------------  MIXINS  -------------*/

@mixin animation-on-load($animation-name) {
  animation: 2*$animation-time ease-out 0s 1 $animation-name;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

/*-------------  KEYFRAMES  -------------*/

@keyframes no-width-on-load {
  0% {
    width: 0;
  }
}
